<h1>Books</h1>
<table class="table table-striped">
	<thead>
		<tr>
			<th></th>
			<th>title</th>
			<th>Opinion</th>
			<th colspan="3"></th>
		</tr>
	</thead>
	<tbody>
		<% @users.each do |book| %>
		<tr>
			<tb></tb>
			<td><%= link_to book.title, books_path(books.id) %></td>
			<td><%= book.body %></td>
		</tr>
		<% end %>
	</tbody>
</table>