<div class="top_message">
	<h1>welcome to <span class="glyphicon glyphicon-book" aria-hidden="true"></span><strong>Bookers</strong> !!</h1>
	<p>In <span class="glyphicon glyphicon-book" aria-hidden="true"></span><strong>Bookers</strong></p>
	<p>you can share and exchange your opinions , inpressions , and emotions</p>
	<p> about various books!</p>
</div>

<a href="/users/sign_in">Log in</a>
<a href="/users/sign_up">Sign in</a>