// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {

	background-color: #fff;
    color: #333;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin: 33px;

}

h1 {

	display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;

}

strong {

    font-weight: bold;
}



p {

    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin: 33px;

}

a {
	color: #666;
    font-size: 13px;
    line-height: 18px;
    text-decoration: underline;
}

th {

    padding-bottom: 5px;
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;

}

td {

    padding-bottom: 7px;
    padding-left: 5px;
    padding-right: 5px;

}

label {

    display: block;

}

.color {

    color:green;

}
